.section {
    padding: 0 50px;

    &__title {
        text-align: center;
        font-size: 35px;
        margin-top: 0;
        margin-bottom: 14px;
        color: #121212;
        padding-bottom: 28px;
    }
}